git+https://github.com/aredden/torch-cublas-hgemm.git@master
git+https://github.com/pytorch/ao.git@main
einops
PyTurboJPEG
pydantic
fastapi
bitsandbytes
loguru
transformers
tokenizers
sentencepiece
click
accelerate
quanto
pydash
pybase64
uvicorn